<!-- templates/happy.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Happy Emotion</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>You're Feeling Happy!</h1>
    <img src="{{ image }}" alt="Uploaded Image">
    
    <h2>Here is a happy song:</h2>
    <ul>
        <li>
            <iframe width="560" height="315" src="{{ random_song_url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>        
        </li>
    </ul>
    
    <a href="/">Back to Home</a>
</body>
</html>
